<!DOCTYPE <html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fast Food Web</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- custom css file link  -->
    <link rel=" stylesheet" href="/stylesheets/indexstyle.css">
</head>

<body>
    <!-- header section starts  -->
    <header class="header">
        <div class="logoimg">
            <img src="./images/pizza.png" alt>
            <a href="#home" class="logo">Fast Fun</a>
        </div>
        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#menu">Menu</a>
            <a href="#order">Order</a>
            <a href="#khuyenmai">Khuyến Mãi</a>

        </nav>

        <div class="icons">
            <div id="user-btn" class="fas fa-user" ></div>
        </div>
    </header>
    <!-- header section ends  -->


    <!--account, order, shopping cart starts-->
    <div class="user-account">
    </div>

    
    <!--account, order, shopping cart ends-->

    <!--home section starts-->
    <div class="home-bg">

        <section class="home" id="home">

            <div class="slide-container">

                <div class="slide active">
                    <div class="image">
                        <img src="./images/home-img-1.png" alt="">
                    </div>
                    <div class="content">
                        <h3>homemade Pepperoni Pizza</h3>
                        <div class="fas fa-angle-left" onclick="prev()"></div>
                        <div class="fas fa-angle-right" onclick="next()"></div>
                    </div>
                </div>

                <div class="slide">
                    <div class="image">
                        <img src="./images/home-img-2.png" alt="">
                    </div>
                    <div class="content">
                        <h3>Pizza With Mushrooms</h3>
                        <div class="fas fa-angle-left" onclick="prev()"></div>
                        <div class="fas fa-angle-right" onclick="next()"></div>
                    </div>
                </div>

                <div class="slide">
                    <div class="image">
                        <img src="./images/home-img-3.png" alt="">
                    </div>
                    <div class="content">
                        <h3>Mascarpone And Mushrooms</h3>
                        <div class="fas fa-angle-left" onclick="prev()"></div>
                        <div class="fas fa-angle-right" onclick="next()"></div>
                    </div>
                </div>

            </div>

        </section>

    </div>
    <!--home section ends-->

    <!-- about section starts  -->
    <section class="about" id="about">

        <h1 class="heading"><span>ABOUT</span>us</h1>

        <div class="box-container">

            <div class="box">
                <img src="./images/about11.png" alt="">
                <h3>made with love</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum quae amet beatae magni numquam facere sit. Tempora vel laboriosam repudiandae!</p>
                <a href="#menu" class="btn">our menu</a>
            </div>

            <div class="box">
                <img src="./images/about22.jfif" alt="">
                <h3>30 minutes delivery</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum quae amet beatae magni numquam facere sit. Tempora vel laboriosam repudiandae!</p>
                <a href="#menu" class="btn">our menu</a>
            </div>

            <div class="box">
                <img src="./images/about33.jfif" alt="">
                <h3>share with freinds</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum quae amet beatae magni numquam facere sit. Tempora vel laboriosam repudiandae!</p>
                <a href="#menu" class="btn">our menu</a>
            </div>

        </div>

    </section>
    <!-- about section ends -->


    <!-- menu section starts  -->
    

    <!-- order section ends -->

    <!-- footer section starts  -->

    <section class="footer">
        <div class="box-container">
            <div class="box">
                <div class="logoimg">
                    <img src="./images/pizza.png" alt>
                    <h3 href="#home" class="logo">Fast Fun</h3>
                </div>
                <p>Cảm ơn quý khách đã lựa chọn Fast Fun là nơi ăn uống theo dõi các trang mạng xã hội để biết thêm nhiều khuyến mãi trong tương lai</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-twitter"></a>
                </div>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#" class="links"><i class="fas fa-phone"></i>0708176957</a>
                <a href="#" class="links"><i class="fas fa-envelope"></i>sanvo1120@gmail.com</a>
                <a href="#" class="links"><i class="fas fa-map-marked-alt"></i>1/43 đường 53 HBC TPTĐ</a>
                <a href="#" class="links"><i class="fas fa-grin-stars"></i>Bí quyết ăn ngon</a>
            </div>

            <div class="box">
                <h3>quick links</h3>
                <a href="#" class="links"><i class="fas fa-arrow-right"></i>Home</a>
                <a href="#" class="links"><i class="fas fa-arrow-right"></i>Menu</a>
                <a href="#" class="links"><i class="fas fa-arrow-right"></i>About</a>
                <a href="#" class="links"><i class="fas fa-arrow-right"></i>Order</a>
                <a href="#" class="links"><i class="fas fa-arrow-right"></i>Khuyến mãi</a>
            </div>

            <div class="box">
                <h3>newsletter</h3>
                <p>subscribe for lastest updates</p>
                <input type="email" placeholder="your email" class="email">
                <input type="submit" value="subscribe" class="btn">
                <div class="shares">
                    <a href="#" class="fab fa-amazon-pay"></a>
                    <a href="#" class="fab fa-cc-visa"></a>
                    <a href="#" class="fab fa-paypal"></a>
                    <a href="#" class="fab fa-bitcoin"></a>
                </div>
            </div>
        </div>
    </section>

    <!-- footer section ends -->



















    <!-- custom js file link  -->
    <script src="/javascripts/script.js"></script>

</body>

</html>