@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
:root {
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shaw: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .2rem solid rgba(0, 0, 0, .1);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: .2rem solid var(--black);
    --light-bg: #f5f5f5;
    --border: .1rem solid var(--light-color);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --white: #fff;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

::-webkit-scrollbar {
    width: 1rem;
    height: .5rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--red);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #eee;
    overflow-x: hidden;
}

section {
    padding: 1.5rem;
    margin: 0;
    max-width: 1700rem;
}

.heading {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
    font-size: 4rem;
    color: var(--black);
    text-transform: uppercase;
}


/*btn-start*/

.btn {
    display: block;
    width: 100%;
    right: 50dp;
    margin-top: 1rem;
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--orange);
    cursor: pointer;
    text-transform: capitalize;
    text-align: center;
}

.btn:hover {
    background-color: var(--black);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    /* box-shadow: var(--box-shaw); */
    border-bottom: var(--border);
}


/*btn-end*/


/*header-start*/

.header .logoimg {
    align-items: center;
    display: flex;
    position: relative;
}

.header .logoimg .logo {
    font-size: 2.5rem;
    color: var(--black);
    font-family: Damion;
    font-weight: bolder;
}

.header .logoimg img {
    width: 8rem;
    height: 5rem;
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--orange);
}

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 1.5rem;
    margin-right: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover {
    background: var(--orange);
    color: #fff;
    transform: rotate(360deg);
}

.header .search-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shaw);
}

.header .search-form.active {
    right: 28%;
    transition: .3s linear;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form label {
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover {
    color: var(--orange);
}


/*headr-end*/


/*user-start*/

.user-account {
    position: fixed;
    top: 0;
    right: -110%;
    width: 100%;
    z-index: 1100;
    background-color: var(--white);
    height: 100vh;
    overflow-y: scroll;
}

.user-account.active {
    right: 0;
}

.user-account #close-account {
    text-align: right;
    margin-bottom: 2.5rem;
}

.user-account #close-account span {
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--orange);
    text-decoration: underline;
}

.user-account #close-account span:hover {
    color: var(--black);
}

.user-account .user {
    padding: 1.5rem;
    text-align: center;
    background-color: var(--light-bg);
    border-radius: .5rem;
}

.user-account .user p {
    font-size: 2rem;
    color: var(--black);
}

.user-account .user p span {
    color: var(--orange);
}

.user-account .display-orders {
    padding: 3rem 2rem;
    text-align: center;
    background-color: var(--light-bg);
    border-radius: .5rem;
    margin: 2rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.user-account .display-orders p {
    padding: 1rem 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.user-account .display-orders p span {
    color: var(--orange);
}

.user-account .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-start;
}

.user-account .flex form {
    flex: 1 1 40rem;
    border-radius: .5rem;
    padding: 2rem;
    background-color: var(--light-bg);
}

.user-account .flex form h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: var(--black);
}

.user-account .flex form .box {
    width: 100%;
    margin: 1rem 0;
    border-radius: .5rem;
    background-color: var(--white);
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
}


/*user-end*/


/*myorders-start*/

.my-orders {
    position: fixed;
    top: 0;
    left: -110%;
    width: 35rem;
    z-index: 1100;
    background-color: var(--light-bg);
    border-left: var(--border);
    height: 100vh;
    overflow-y: scroll;
}

.my-orders.active {
    left: 0;
}


/*myinfos-start*/

.my-infos {
    position: fixed;
    top: 0;
    left: -110%;
    width: 35rem;
    z-index: 1100;
    background-color: var(--light-bg);
    border-left: var(--border);
    height: 100vh;
    overflow-y: scroll;
}

.my-infos.active {
    left: 0;
}

.my-orders #close-orders {
    text-align: right;
    margin-bottom: 2.5rem;
}

.my-orders #close-orders span {
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--orange);
    text-decoration: underline;
}

.my-orders #close-orders span:hover {
    color: var(--black);
}

.my-orders .title {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--black);
    font-size: 3rem;
    text-transform: capitalize;
}

.my-orders .box {
    background-color: var(--white);
    border-radius: .5rem;
    padding: 1rem 2rem;
    box-shadow: var(--box-shadow);
    margin: 1.5rem 0;
}

.my-orders .box p {
    margin: 1rem 0;
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.5;
}

.my-orders .box p span {
    color: var(--black);
}

.my-infos .title {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--black);
    font-size: 3rem;
    text-transform: capitalize;
    padding-top: 10px;
}

.my-infos .box {
    background-color: var(--white);
    border-radius: .5rem;
    padding: 1rem 2rem;
    box-shadow: var(--box-shadow);
    margin: 1.5rem 0;
}

.my-infos .box p {
    margin: 1rem 0;
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.5;
}

.my-infos .box p span {
    color: var(--black);
}


/*myorders-end*/


/*heart-start*/

.heart {
    position: fixed;
    top: 0;
    right: -110%;
    width: 35rem;
    z-index: 1100;
    background-color: var(--light-bg);
    border-left: var(--border);
    height: 100vh;
    overflow-y: scroll;
}

.heart .title {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--black);
    font-size: 3rem;
    text-transform: capitalize;
}

.heart.active {
    left: 0;
}

.heart #close-heart {
    text-align: right;
    margin-bottom: 2.5rem;
}

.heart #close-heart span {
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--orange);
    text-decoration: underline;
}

.heart #close-heart span:hover {
    color: var(--black);
}

.heart .box {
    display: flex;
    position: relative;
    align-items: center;
    gap: 1.5rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    background-color: var(--white);
    margin: 1.7rem 0;
}

.heart .box img {
    width: 7rem;
}

.heart .box .content p {
    font-size: 1.8rem;
    color: var(--light-color);
}

.heart .box .content p span {
    color: var(--orange);
}

.heart .box .small_card {
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 3.3rem;
    color: var(--orange);
    position: absolute;
    right: 1.5rem;
    transition: 0.2s;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    display: flex;
    text-shadow: 0 0 6px #000;
    
}

.heart .box .small_card i:hover {
    color: var(--black);
}


/*heart-end*/


/*shoppingcart-start*/

.h-scrollbar {
    overflow-x: scroll;
    width: 387px;
    height: 380px;
    background: white;
    border-radius: 5px;
}

.shopping-cart {
    position: fixed;
    top: 0;
    right: 0%;
    width: 42rem;
    z-index: 1100;
    background-color: #f1f0f0;
    height: 720.39px;
    border: var(--border);
}

.shopping-cart .title {
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    text-transform: capitalize;
}

.shopping-cart.active {
    right: 0;
}

.shopping-cart #close-cart {
    text-align: right;
}

.shopping-cart #close-cart span {
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--orange);
    text-decoration: underline;
}

.shopping-cart #close-cart span:hover {
    color: var(--black);
}

.shopping-cart .box {
    display: flex;
    position: relative;
    align-items: center;
    gap: 1.5rem;
    border-radius: .5rem;
    padding: 0.5rem;
    background-color: var(--white);
    margin: 0 0 0 0.5rem;
}

.shopping-cart .box:hover {
    background-color: #e9e9e9;
    box-shadow: var(--box-shadow);
}

.shopping-cart .box .fa-times {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--orange);
}

.shopping-cart .box .fa-times:hover {
    color: var(--black);
}

.shopping-cart .box img {
    width: 7rem;
}

.shopping-cart .box .content p {
    font-size: 1.8rem;
    color: var(--light-color);
}

.shopping-cart .box .content p span {
    color: var(--orange);
}

.shopping-cart .box .content form {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.shopping-cart .box .content form .qty {
    border: var(--border);
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--black);
    width: 5rem;
}

.shopping-cart .box .content select {
    border: var(--border);
    border-radius: 0.5rem;
    font-size: 1.2rem;
    color: var(--black);
}

.shopping-cart .box .content .prices {
    font-size: 1.5rem;
    color: var(--black);
    justify-content: space-between !important;
    display: flex !important;
    margin-top: 0.5rem;
}

.pl-3,
.px-3 {
    padding-top: 1rem;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    font-size: 1.5rem;
    background: #ffffffc4;
    padding-bottom: 0.5rem;
    border-radius: 5px;
    margin-top: 1.5rem;
}

.mb-2,
.my-2 {
    margin-bottom: 0.5rem !important;
}

.mb-1,
.my-1 {
    margin-bottom: 0.25rem !important;
}

.col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.text-secondary {
    color: #6c757d !important;
}

.text-right {
    text-align: right !important;
}

.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.text-danger {
    color: var(--orange) !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.w-100 {
    width: 100% !important;
    
    background: black;
}


/*shoppingcart-end*/

@keyframes fadeLeft {
    0% {
        transform: translateX(5rem);
    }
}

@keyframes fadeRight {
    0% {
        transform: translateX(-5rem);
    }
}


/*homebg-start*/

.home-bg {
    background: url(../images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home-bg .home .slide-container {
    margin-top: 10rem;
}

.home-bg .home .slide-container .slide {
    display: none;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.home-bg .home .slide-container .slide.active {
    display: flex;
}

.home-bg .home .slide-container .slide .image {
    flex: 1 1 40rem;
    animation: fadeRight .4s linear;
}

.home-bg .home .slide-container .slide .image img {
    width: 85%;
}

.home-bg .home .slide-container .slide .content {
    flex: 1 1 40rem;
    text-align: center;
    animation: fadeLeft .4s linear;
}

.home-bg .home .slide-container .slide .content h3 {
    color: crimson;
    margin-bottom: 3rem;
    text-transform: capitalize;
    font-size: 7.5rem;
    text-shadow: var(--box-shadow);
    line-height: 1;
}

.home-bg .home .slide-container .slide .content .fa-angle-left,
.home-bg .home .slide-container .slide .content .fa-angle-right {
    height: 5rem;
    width: 5rem;
    line-height: 4.8rem;
    font-size: 2rem;
    color: var(--black);
    background-color: var(--white);
    margin: 0 .5rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    border-radius: .5rem;
}

.home-bg .home .slide-container .slide .content .fa-angle-left:hover,
.home-bg .home .slide-container .slide .content .fa-angle-right:hover {
    background-color: var(--orange);
    color: var(--white);
}


/*homebg-end*/


/*about-start*/

.about h1 span {
    color: var(--orange);
    margin-right: 10px;
}

.about .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.about .box-container .box {
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.about .box-container .box img {
    width: 100%;
    margin-bottom: 2rem;
}

.about .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.about .box-container .box p {
    padding: 1rem 0;
    line-height: 2;
    font-size: 1.6rem;
    color: var(--light-color);
}


/*about-end*/


/*menu-start*/

.menu h1 span {
    color: var(--orange);
    margin-right: 10px;
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 25rem);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
    margin-right: 42rem;
    margin-bottom: 15px;
}

.menu .box-container .box {
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    position: relative;
    width: 250px;
}

.menu .box-container .box img {
    width: 100%;
    margin-bottom: 1rem;
}

.menu .box-container .box .price {
    background-color: var(--black);
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    color: var(--white);
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
}

.menu .box-container .box .name {
    font-size: 2rem;
    color: var(--black);
    margin: .5rem 0;
}

.menu .box-container .box form {
    display: flow-root;
    gap: 1rem;
}

.menu .box-container .box form .qty {
    width: 6.5rem;
    border: var(--border);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    color: var(--black);
}

.menu .box-container .box select {
    width: 210px;
    height: 40;
    border: var(--border);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    color: var(--black);
}

.menu .box-container .box .small_card {
    background-color: var(--black);
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 2.3rem;
    color: var(--white);
    position: absolute;
    top: 1rem;
    right: 1rem;
    transition: 0.2s;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    display: flex;
    text-shadow: 0 0 6px #000;
}

.menu .box-container .box .small_card i:hover {
    color: var(--orange);
}


/*menu-end*/


/*contai-start*/

.contai {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    background: var(--orange);
    border-radius: 1.5rem;
}

.menu .contai .icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    box-shadow: var(--black);
    border-radius: 1.5rem;
    background: #fff;
    width:300px;
}

.menu .contai .icons i {
    height: 6.5rem;
    width: 6.5rem;
    line-height: 6.5rem;
    font-size: 2.5rem;
    border-radius: 1.3rem;
    color: var(--black);
    text-align: center;
}

.menu .contai .icons .content {
    font-size: 2rem;
}

.menu .contai .icons:hover {
    background: var(--black);
}

.menu .contai .icons:hover i {
    background: var(--light-bg);
}

.menu .contai .icons:hover .content {
    color: var(--orange);
}


/*contai-end*/


/*order-start*/

.order h1 span {
    color: var(--orange);
    margin-right: 10px;
}

.order form {
    width: 90rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0, 0, 0, .1);
    background: #fff;
    padding: 1.5rem;
    margin: 0 auto;
}

.order form .inputBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order form .inputBox .input {
    width: 49%;
}

.order form .inputBox .input span {
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.order form .inputBox .input input,
.order form .inputBox .input textarea {
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;
}

.order form .inputBox .input textarea {
    height: 20rem;
    resize: none;
}

.order form .inputBox .input select {
    width: 42.5rem;
    border: var(--border);
    padding: 0.87rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: var(--black);
}


/*order-end*/


.MuiTabs-scroller {
    flex: 1 1 auto;
    display: inline-block;
    position: fixed;
    white-space: nowrap;
    padding: 97px 0 0 0;
    background: #ffb97b;
    z-index: 100;
    height: 150px;
    border-bottom: var(--border);
}
.MuiTabs-flexContainer {
    display: flex;
    width: 1108px;
    justify-content: space-between;
}
.MuiTab-textColorInherit.Mui-selected {
    opacity: 1;
}
.MuiTab-textColorInherit {
    color: inherit;
    opacity: 0.7;
}
.MuiTab-root {
    padding: 6px 12px;
    overflow: hidden;
    position: relative;
    font-size: 15px;
    max-width: 264px;
    min-width: 72px;
    box-sizing: border-box;
    min-height: 48px;
    text-align: center;
    flex-shrink: 0;
    font-family: -apple-system,BlinkMacSystemFont,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: bold;
    line-height: 1.75;
    white-space: normal;
    text-transform: uppercase;
}
.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    margin: 10px;
}

/*footer-start*/

.footer {
    background: #fff;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box h3 i {
    color: var(--orange);
}

.footer .box-container .box .logoimg {
    align-items: center;
    display: flex;
    position: relative;
}

.footer .box-container .box .links {
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .links i {
    color: var(--orange);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i {
    padding-right: 2rem;
}

.footer .box-container .box p {
    line-height: 1.8rem;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .share a {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: 2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover {
    background: var(--orange);
    color: #fff;
}

.footer .box-container .box .email {
    width: 100%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.footer .box-container .box .shares a {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .shares a:hover {
    background: var(--orange);
    color: #fff;
}

.footer .box-container .box .logoimg .logo {
    font-size: 2.5rem;
    color: var(--black);
    font-family: Damion;
    font-weight: bolder;
}

.footer .box-container .box .logoimg img {
    width: 7rem;
    height: 4rem;
}


/*footer-end*/


/* media queries  */

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
}

@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
    }
    .header .flex .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .flex .navbar a {
        display: block;
        margin: 2rem;
    }
    .home-bg .home .slide-container .slide .content h3 {
        font-size: 4rem;
    }
    .order form .flex .inputBox {
        width: 100%;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
    .my-orders {
        width: 100%;
        border-left: 0;
    }
    .shopping-cart {
        width: 100%;
        border-left: 0;
    }
    .about .box-container {
        grid-template-columns: 1fr;
    }
    .menu .box-container {
        grid-template-columns: 1fr;
    }
}


/* media queries  */